body{
    margin:0;
}
header{
    display: flex;
    top: 0;
    width: 100%;
    background-color:rgb(107, 40, 13);
    justify-content: space-between;
    position: flex;
    z-index: 1;
    color: white;
}
nav a{
      float: left;
      text-align: center;
      font-size: 20px;
      padding: 25px 20px;
      color: white;
      text-decoration: none;
}
nav a:hover{
      background-color: crimson;
}
section.Home{
    background: url("three-layers-pastel-colored-candy-600nw-2470315229.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px;
    text-align: center;
    height: 800px;
}
section.Home .underline{
    font-size: 24px;
    line-height: 2px;
}
section.Home .button1{
    font-family: arial black;
    display: inline-block;
    border: #e91e63 5px outset;
    padding: 10px 25px;
    background-color: #f06292;
    width: 150px;
    height: 50px;
    align-content: center;
    text-decoration: none;
}
section.Home .button1:hover{
    border: #e91e63 10px inset;
    box-shadow: black;
    background-color: #f06292;
    transition: 0.65s;
    text-decoration: none;
}
section.Home .shop-now{
    font-size: 20px;
    color: black;
}
section.About{ 
    background: url("pngtree-fun-cute-blue-spiral-line-background-image_538223.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding-top: 90px;
    height: 600px; 
}
section.About img{
    width: 400px;
    align-content: center;
}
section.About p{
    text-align: center;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section.About .button2{
    font-family: arial black;
    display: inline-block;
    border: #e91e63 5px outset;
    padding: 10px 25px;
    background-color: #f06292;
    width: 150px;
    height: 50px;
    align-content: center;
    text-decoration: none;
}
section.About .button2:hover{
    border: #e91e63 10px inset;
    box-shadow: black;
    background-color: #f06292;
    transition: 0.65s;
    text-decoration: none;
}
section.About .shop-now{
    font-size: 20px;
    color: black;
}
section.Product{ 
    background: url("unnamed.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 20px;
    height: 1300px;
}
section.Product .product1{
    font-size: 45px;
    color: antiquewhite;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
}
section.Product .items{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
}
section.Product .items .card{
    background-color: white;
    text-align: center;
    padding: 5px;
    width: 200px;
    height: 450px;
    margin: 15px;
}
section.Product .items .card img{
    width: 100%;
}
section.Product .items .card a{
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
}
section.Contact{
    background-color: black;
    height: 600px; 
}
section.Contact .card{
    margin: auto;
    color: white;
    text-align: center;
    padding-top:100px;
    width: 400px;
}
section.Contact .card img{
    padding-top: 50px;
    width: 200px;
}
footer {
    height: 50px;
    background-color: grey;
}
footer .medsos{
    text-align: center;
    padding-top: 10px;
}
footer .medsos a{
    color: white;
    font-size: 20px;
    padding: 10px 15px;
}
footer .medsos a:hover{
    color: black;
    font-size: 20px;
    padding: 10px 15px;
}